
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #334;
  font-family: calibri light;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #fc5603;
}

#title {
font-family: 'Roboto Slab';
font-size: 42px;
}

h2 {
	font-size: 30px;
	font-family: 'Roboto Slab';
}

#vinyl {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

#location {
	float: right;
	padding-top: 24px;
	margin-top: 24px;
	margin-right: 8px;
	font-family: 'Roboto Slab';
}

table, th, td, tr {
  border: 1px solid black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float: right;
  margin: 10px;

}

  .fa-facebook {
  background: #3B5998;
  color: white;
} 
  .fa-twitter {
  background: #55ACEE;
  color: white;
	 }

