 html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

  body {
    font: 20px Raleway, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}


  .bg-1 { 
    background-color: rgba(99, 121, 242, 0.8); /* light blue */
    color: #ffffff;

  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }

  .bg-5 { 
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

.fa {
  padding: 20px;
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  padding-right: 15px;
}


#homemediatext {
  font-weight: 24px;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 20px;
}


a.navbar-brand {
  padding-left: 0px;
}

.container-navbar {

  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#photo-row{
  padding-bottom: 60px;
}

.p-content-home{
margin-right: 40px;
}

